@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

:root {
  --color-node-bg: #D9EEFB;
  --color-node-border: #7FB0CD
}